body {
    font-family: Verdana, Arial, sans-serif;
    background-color: black;
    color: aliceblue;
  }
  h1 {
    color: white;
    background-color: #61b3e7;
  }
  h1:hover {
    color: #0479c2;
    background-color: hsl(234, 91%, 38%);
    transition : all 1000ms ease-in-out;
  }
  h2 {
    color: #FFB695;
    margin-left: 8px;
    border-bottom: 4px dotted black;
  }
  video{
    width: 500px;
    height: 500px;
  }
  