
div a{
    text-decoration: none; /* hana ka der bhala decorase 3la text b7al khat ta7to ola tchatib 3lih o bezzf b7alo*/
    display: inline-block;
    background-color: rgb(222, 98, 98);
    color: #ffffff;
    border-style: inset;
    padding: 6px;
    border-radius: 31px;
    text-transform: uppercase;
    text-shadow: 1px 3px 10px blue;
    min-width: 100px;
    max-height: 100px;
    box-shadow:  1px 3px 10px rgb(208, 185, 126);
}