
div {
    background-color: bisque;
    letter-spacing: 6px; /* is do space betoun letters in text is take nigativ and positeve*/ 
    text-indent: 50px; /* is give you indent for your text */
    line-height: 50px; /* is use for modife height betwen lines*/
    word-spacing: 100px; /* is use to give spaces betoune words */
    white-space: nowrap; /* in normale case if we have long text if is long than width of 
        box is do newline but nowrap is remove this option and text is by  overflow  */
    word-break: break-word ;
    overflow: scroll;
        overflow-wrap: break-word; /* iThe browser acts politely. 
        It will first try to move a long word to the next line to keep it whole. 
        It will only break the word in the middle if the word is so massive that it can't even fit on its own dedicated line */
    word-break: break-all; /*The browser acts ruthlessly. It will chop words at the exact edge of the container, 
        regardless of whether the word could have fit neatly if it had just been moved to the next line.*/
}

