div
{
    background-color: aquamarine;
    padding: 50px;
    word-spacing: 2px;
    text-align: center;
    margin-top: 10px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}