div
{
    background-color: bisque;
    width: 250px;
    display: inline-block;
    overflow-x: scroll;
    /*overflow-wrap: break-word; /* iThe browser acts politely. 
        It will first try to move a long word to the next line to keep it whole. 
        It will only break the word in the middle if the word is so massive that it can't even fit on its own dedicated line */
    /*word-break: break-all; /*The browser acts ruthlessly. It will chop words at the exact edge of the container, 
        regardless of whether the word could have fit neatly if it had just been moved to the next line.*/
    text-overflow: ellipsis;

    white-space: nowrap;
}